body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
}

h2{
    color: green;
    border-bottom: solid gray;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

h3{
    color: brown;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

.paragrafos{
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

div{
    border-style: solid;
    border-color: grey;
    background-image: linear-gradient(grey, white, white,white, white, white, white,white, white, grey);
}

.color_verde{
    color: green;
}

.color_marron{
    color: brown;
}

section{
    display: flex;
}

ul{
    padding-right: 2vw;
    list-style-type: none;
}

a{
    line-height: 35pt;
    background-image: linear-gradient(white, #8FBC8F);
    border-width: 1px;
    border-style: solid;
    color: black; 
    font-size: 15pt;
    text-decoration:none;
    background-size: 50pt;
    text-align: center;
    padding: 4%;
}
li{
    padding: 4%;
}

a:hover{
    background-image: linear-gradient(white, #F9E85A);
}
#img{
  width: 1000px;
}
#imagen{
    margin-top: 20px;
    margin-left: 5.3%;
    width: 900px;
    height: 200px;
    box-shadow: 0 0 8px 8px white inset;
}
#textoFooter{
   text-align: center;
   font-size: 10pt;
   color: gray;
}